<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
      <title>OwO</title>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    </body>
 <script type="text/javascript" src="{{ url_for('static', filename='mainscript.js') }}"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4ah-ctCeb67qUJbTDe0aW4PVg_MAh7Ho&callback=initMap">
    </script>
</html>